<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/sunlab/assets/css/style.css">
  <link rel="stylesheet" href="/sunlab/assets/css/custom.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/sunlab/">Home</a></li>
        <li><a href="/sunlab/people">People</a></li>
        <li><a href="/sunlab/research">Research</a></li>
        <li><a href="/sunlab/publications">Publications</a></li>
        <li><a href="/sunlab/code">Code</a></li>
        <li><a href="/sunlab/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="banner">
      <div class="logo-container">
        <img src="/sunlab/brain_logo.png" alt="NeuroAI Logo">
        <h1 class="banner-title">Sun Lab</h1>
      </div>
    </div>
  </header>
  {% if page.title == "Home" %}
  <div class="header-title">
    <h1>Sun Lab</h1>
  </div>
  <div class="logo">
    <!-- Ensure the correct path to the Cornell logo -->
    <img src="/sunlab/assets/images/cornell_logo.png" alt="Cornell Logo">
  </div>
  {% endif %}
  <main>
    <div class="content-container">
      {{ content }}
    </div>
  </main>
  <footer class="footer">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
  </footer>
</body>
</html>
